:root {
	--notes_item-previewdef-contentpadd:25px;
	--notes_item-previewdef-contentmetric_low_col:rebeccapurple;
	--notes_item-previewdef-contentmetric_medium_col:orangered;
	--notes_item-previewdef-contentmetric_high_col:orange;
	--notes_item-previewdef-contentmetric_full_col:green;
	--notes_item-previewdef-swidth:250px;
	--notes_item-previewdef-margin:15px;
	--notes_editor-shortcuts-width:55px;
	--notes_editor-settingscall-width:60px;
}

.rn-notes {
	--padding:40px; /* @override --rnnovnav-padds */

	overflow:scroll!important;
	position:relative;
	padding-left:var(--padding)!important;
	padding-right:var(--padding)!important;
}

.rn-notes-grid {
	overflow:auto;
	display:grid;
	grid-template-columns:repeat(auto-fill, minmax(calc(var(--notes_item-previewdef-swidth) + var(--notes_item-previewdef-margin)), 1fr));
	min-height:100%;
	width:100%;
	overflow:visible;
}

.rn-notes-item {
	--padding:15px;
	--height:320px;

	padding-top:var(--padding);
	height:calc(var(--height) - var(--padding));
	width:var(--notes_item-previewdef-swidth);
	border-radius:5px;
	background:white;
	box-shadow:0px 0px 10px -4px rgba(0, 0, 0, .25);
	transition:.25s;
	margin:var(--notes_item-previewdef-margin);
	-webkit-font-smoothing:antialiased;
	position:relative;
	margin-left:auto;
	margin-right:auto;
}

.rn-notes-item.void {
	padding:0;
	height:var(--height);
}

.rn-notes-item:hover {
	transform:scale(1.025);
	box-shadow:0px 0px 10px -3px rgba(0, 0, 0, .25);
}

.rn-notes-item.void {
	cursor:pointer;
	display:flex;
	flex-direction:column;
	align-items:center;
	justify-content:center;
	text-align:center;
}

.rn-notes-item.default {
	display:flex;
	flex-direction:column;
}

.rn-notes-item__default-section,
.rn-notes-item__default-progress {
	cursor:pointer;
}

.rn-notes-item__default-section {
	padding-left:var(--notes_item-previewdef-contentpadd);
	padding-right:var(--notes_item-previewdef-contentpadd);
	width:calc(100% - var(--notes_item-previewdef-contentpadd) * 2);
	height:100%;
	flex-shrink:1;
	text-align:left;
	overflow:hidden;
	text-overflow:ellipsis;
}

.rn-notes-item__default-progress {
	--margin:15px;
	--padding:15px;

	padding-top:var(--padding);
	padding-bottom:var(--padding);
	display:flex;
	flex-direction:column;
	align-items:flex-start;
	justify-content:center;
	padding-left:var(--notes_item-previewdef-contentpadd);
	padding-right:var(--notes_item-previewdef-contentpadd);
	width:calc(100% - var(--notes_item-previewdef-contentpadd) * 2);
	height:40px;
	margin-top:auto;
	flex-shrink:0;
}

.rn-notes-item__default-progress-title {
	font-weight:400;
	font-family:"Arial";
	color:rgba(0, 0, 0, .45);
	text-transform:uppercase;
	font-size:.9em;
}

.rn-notes-item__default-progress-bar {
	display:flex;
	align-items:stretch;
	justify-content:center;
	width:100%;
	margin-top:12.5px;
}

.rn-notes-item__default-progress-bar-item {
	--margin:2.5px;

	margin-left:var(--margin);
	margin-right:var(--margin);
	height:4px;
	background:rgba(0, 0, 0, .1);
	border-radius:5px;
	flex-shrink:1;
	width:100%;
	transition:.25s;
}

.rn-notes-item__default-progress-bar-item:first-child {
	margin-left:0;
}

.rn-notes-item__default-progress-bar-item:last-child {
	margin-right:0;
}

/* low */
.rn-notes-item.default.lowcontent .rn-notes-item__default-progress-bar-item.first {
	background:var(--notes_item-previewdef-contentmetric_low_col);
}

/* medium */
.rn-notes-item.default.mediumcontent .rn-notes-item__default-progress-bar-item.first,
.rn-notes-item.default.mediumcontent .rn-notes-item__default-progress-bar-item.second {
	background:var(--notes_item-previewdef-contentmetric_medium_col);
}

/* high */
.rn-notes-item.default.highcontent .rn-notes-item__default-progress-bar-item.first,
.rn-notes-item.default.highcontent .rn-notes-item__default-progress-bar-item.second,
.rn-notes-item.default.highcontent .rn-notes-item__default-progress-bar-item.third {
	background:var(--notes_item-previewdef-contentmetric_high_col);
}

/* full */
.rn-notes-item.default.fullcontent .rn-notes-item__default-progress-bar-item.first,
.rn-notes-item.default.fullcontent .rn-notes-item__default-progress-bar-item.second,
.rn-notes-item.default.fullcontent .rn-notes-item__default-progress-bar-item.third,
.rn-notes-item.default.fullcontent .rn-notes-item__default-progress-bar-item.fourth {
	background:var(--notes_item-previewdef-contentmetric_full_col);
}

/* ... */
.rn_notes-item__default-edtiro {
	height:65px;
	flex-shrink:0;
	border-top:1px solid var(--defaultborder);
	width:calc(100% - var(--notes_item-previewdef-contentpadd) * 2);
	padding-left:var(--notes_item-previewdef-contentpadd);
	padding-right:var(--notes_item-previewdef-contentpadd);
	position:relative;
	overflow:hidden;
}

.rn_notes-item__default-edtiro > div {
	width:100%;
	height:100%;
	overflow:scroll;
	align-items:center;
	display:flex;
}

.rn_notes-item__default-edtiro-item {
	--size:35px;
	--margin:5px;

	margin-left:var(--margin);
	margin-right:var(--margin);
	height:var(--size);
	width:var(--size);
	position:relative;
	background:red;
	flex-shrink:0;
	top:-1.5px;
	box-shadow:0px 0px 15px -5px rgba(0, 0, 0, .25); /* FIXME: it's horrible! */
}

.rn_notes-item__default-edtiro-item:first-child {
	margin-left:0;
}

.rn_notes-item__default-edtiro-item:last-child {
	margin-right:0;
}

.rn_notes-item__default-edtiro-item > img {
	object-fit:cover;
	object-position:center;
	height:100%;
	width:100%;
}

.rn_notes-item__default-edtiro-item,
.rn_notes-item__default-edtiro-item > img {
	border-radius:50%;
}

.rn-notes-item__void-plusicon {
	--size:95px;

	height:var(--size);
	width:var(--size);
	border-radius:50%;
	background:#E7F8EC;
	display:flex;
	align-items:center;
	justify-content:center;
	font-size:2em;
	color:#00B544;
}

.rn-notes-item-title {
	--margin:15px;

	margin-top:var(--margin);
	margin-bottom:var(--margin);
	font-weight:500;
	color:rgba(0, 0, 0, .9);
	font-family:"Arial";
}

.rn-notes-item-desc {
	margin:0;
	color:rgba(0, 0, 0, .7);
	font-family:"Quicksand";
	font-size:.975em;
	display:block;
	overflow:hidden;
}

.rn-notes-item-desc.empty {
	color:rgba(0, 0, 0, .25);
}

.rn-notes-previewmodalbg,
.rn-notes-previewmodal {
	--trans:.15s;

	transition:all var(--trans), visibility var(--trans);
	opacity:0;
	visibility:hidden;
}

.rn-notes-previewmodalbg.visible,
.rn-notes-previewmodalbg.visible ~ .rn-notes-previewmodal {
	transition:all var(--trans), visibility 0s;

	opacity:1;
	visibility:visible;
}

.rn-notes-previewmodalbg {
	height:100vh;
	width:100vw;
	position:fixed;
	background:red;
	top:0;
	left:0;
	background:rgba(0, 0, 25, .1);
	z-index:405;
}

.rn-notes-previewmodal {
	--padding:40px;
	--smpadd:10px;

	padding:var(--padding);
	height:auto;
	width:calc(400px - var(--padding) * 2);
	background:white;
	position:fixed;
	max-width:calc(100vw - var(--padding) * 2 - var(--smpadd) * 2);
	top:50%;
	left:50%;
	margin-right:50%;
	z-index:406;
	border-radius:5px;
	transform:translate(-50%, -50%);
	box-shadow:0px 0px 25px -10px rgba(0, 0, 0, .5);
}

.rn-notes-previewmodal-title {
	width:100%;
	display:flex;
	align-items:center;
	justify-content:space-between;
}

.rn-notes-previewmodal-title-mat {
	font-family:"Gothic A1";
	font-weight:600;
	letter-spacing:1px;
	margin:0;
}

.rn-notes-previewmodal-title-times {
	cursor:pointer;
	font-size:1.1em;
}

.rn-notes-previewmodal-subtitle {
	font-size:.925em;
	color:rgba(0, 0, 0, .5);
	margin-top:7.5px;
	font-family:"Quicksand";
	font-weight:600;
}

.rn-notes-previewmodal-input {
	--margin:20px;

	margin-top:var(--margin);
	margin-bottom:var(--margin);
	width:100%;
	display:flex;
	flex-direction:column;
	align-items:flex-start;
	justify-content:center;
	position:relative;
}

.rn-notes-previewmodal-input-title {
	font-family:"Quicksand";
	font-weight:600;
	font-size:.95em;
	margin:0;
	margin-bottom:2.5px;
}

.rn-notes-previewmodal-input-mat {
	width:100%;
	height:auto;
	display:flex;
	flex-direction:column;
	align-items:stretch;
	position:relative;
}

.rn-notes-previewmodal-input-mat > input {
	height:37.5px;
	font-size:1em;
	font-family:"Arial";
}

.rn-notes-previewmodal-input-mat > div {
	width:100%;
	height:2px;
	background:rgba(0, 0, 0, .1);
	position:absolute;
	bottom:0;
	left:0;
}

.rn-notes-previewmodal-input-mat > div:before {
	content:'';
	position:absolute;
	bottom:0;
	left:50%;
	margin-right:50%;
	transform:translateX(-50%);
	width:0%;
	height:100%;
	transition:.15s;
	background:blue;
}

.rn-notes-previewmodal-input-mat > input:focus ~ div:before,
.rn-notes-previewmodal-input-mat > input:invalid:not(:placeholder-shown) ~ div:before {
	width:100%;
}

.rn-notes-previewmodal-input-mat > input:invalid:not(:placeholder-shown) ~ div:before {
	background:red;
}

.rn-notes-previewmodal-controls {
	display:flex;
	align-items:center;
	justify-content:space-between;
	width:100%;
	margin-top:5px;
}

.rn-notes-previewmodal-controls-btn {
	font-size:.95em;
	font-family:"Arial";
	font-weight:600;
	opacity:.65;
	cursor:pointer;
	text-transform:capitalize;
	border-radius:3px;
	padding:10px;
	transition:.15s;
}

.rn-notes-previewmodal-controls-btn.cancel {
	color:orangered;
}

.rn-notes-previewmodal-controls-btn.submit {
	color:rebeccapurple;
}

.rn-notes-previewmodal-controls-btn.accept {
	color:green;
}

.rn-notes-previewmodal-controls-btn:hover {
	background:rgba(0, 0, 0, .025);
}

.rn-notes-editor {
	height:100vh;
	width:100vw;
	position:fixed;
	top:0;
	left:0;
	background:white;
	z-index:406;
	display:flex;
	align-items:stretch;
}

.rn-notes-editor-smcontrols,
.rn-notes-editor-settingscall {
	flex-shrink:0;
}

.rn-notes-editor-smcontrols {
	--padding:10px;

	padding-top:var(--padding);
	padding-bottom:var(--padding);
	height:calc(100% - var(--padding) * 2);
	width:var(--notes_editor-shortcuts-width);
	display:flex;
	flex-direction:column;
	overflow:scroll;
	align-items:center;
}

.rn-notes-editor-smcontrols-btn {
	--margin:5px;
	--size:30px;

	height:var(--size);
	width:var(--size);
	border-radius:3px;
	margin-top:var(--margin);
	margin-bottom:var(--margin);
	flex-shrink:0;
	font-size:1.05em;
	color:rgba(0, 0, 0, .2);
	display:flex;
	align-items:center;
	justify-content:center;
	cursor:pointer;
	transform:rotate(35deg) scale(.75);
	opacity:0;
	transition:.25s;
	animation:notes-editor-smcontrols-btn-initam .15s ease-in-out;
	animation-fill-mode:forwards;
}

@keyframes notes-editor-smcontrols-btn-initam {
	from {
		transform:rotate(75deg) scale(.75);
		opacity:0;
	}

	to {
		transform:rotate(0deg) scale(1);
		opacity:1;
	}
}

.rn-notes-editor-smcontrols-btn.head-control {
	--size:35px;

	height:var(--size);
	width:var(--size);
	color:rgba(0, 0, 0, .5);
	border-radius:50%;
	margin-bottom:0;
}

.rn-notes-editor-smcontrols-btn.head-control.last {
	margin-bottom:5px;
}

.rn-notes-editor-smcontrols-btn.font-h2 {
	font-size:1em;
}

.rn-notes-editor-smcontrols-btn.font-h3 {
	font-size:.9em;
}

.rn-notes-editor-smcontrols-btn.font-h4 {
	font-size:.8em;
}

.rn-notes-editor-smcontrols-btn.font-h5 {
	font-size:.75em;
}

.rn-notes-editor-smcontrols-btn:hover,
.rn-notes-editor-smcontrols-btn.active {
	background:rgba(0, 0, 255, .05);
}

.rn-notes-editor-smcontrols-btn:hover {
	color:rgba(0, 0, 255, .5);
}

.rn-notes-editor-smcontrols-btn.active {
	color:blue;
}

.rn-notes-editor-display {
	--padding:30px;

	height:calc(100% - var(--padding) * 2);
	width:calc(100% - var(--padding) * 2 - var(--notes_editor-shortcuts-width) - var(--notes_editor-settingscall-width));
	flex-shrink:1;
	padding:var(--padding);
	font-size:18px;
	font-family:"Quicksand";
	font-weight:400;
	-webkit-font-smoothing:antialiased;
	position:relative;
	overflow:scroll;
}

.rn-notes-editor-display > * {
	z-index:5;
	position:relative;
}

.rn-notes-editor-settingscall {
	width:var(--notes_editor-settingscall-width);
	display:flex;
	justify-content:center;
}

.rn-notes-editor-settingscall-btn {
	--size:40px;
	--shs:10px;

	height:var(--size);
	width:var(--size);
	border-radius:50%;
	background:#00CC9C;
	box-shadow:0px 0px var(--shs) -2.5px #00CC9C;
	cursor:pointer;
	color:white;
	font-size:.95em;
	display:flex;
	align-items:center;
	justify-content:center;
	margin-top:10px;
	transition:.25s;
}

.rn-notes-editor-settingscall-btn:hover {
	--shs:15px;
}

.rn-notes-editor-settingscall-btn:active {
	transition:.1s;
	transform:scale(.95);
}

.rn-notes-editor-settings {
	--trans:.35s;

	position:absolute;
	right:0;
	top:0;
	height:100%;
	width:275px;
	background:white;
	z-index:10;
	box-shadow:0px 0px 5px 0px rgba(0, 0, 0, .25);
	transform:translateX(100%);
	opacity:0;
	visibility:hidden;
	display:flex;
	flex-direction:column;
	align-items:center;
	justify-content:flex-start;
	transition:all var(--trans), visibility var(--trans);
}

.rn-notes-editor-settings.active {
	transition:all var(--trans), visibility 0s;
	transform:translateX(0);
	visibility:visible;
	opacity:1;
}

.rn-notes-editor-settings-title:not(.text) {
	--padding:15px;

	display:flex;
	align-items:center;
	justify-content:space-between;
	padding-left:var(--padding);
	padding-right:var(--padding);
	width:calc(100% - var(--padding) * 2);
}

.rn-notes-editor-settings-title:not(.text) > button {
	font-size:1.1em;
	cursor:pointer;
	color:rgba(0, 0, 0, .75);
}

.text.rn-notes-editor-settings-title,
.rn-notes-editor-settings-title:not(.text) > .text {
	font-family:"Quicksand";
	font-weight:500;
	font-size:1em;
	text-align:center;
}

.rn-notes-editor-settings-callinvite {
	font-family:"Quicksand";
	font-weight:400;
	font-size:1em;
	margin-bottom:10px;
	cursor:pointer;
	display:flex;
	align-items:center;
	justify-content:center;
}

.rn-notes-editor-settings-callinvite > * {
	--margin:2.5px;

	margin-left:var(--margin);
	margin-right:var(--margin);
	color:rgba(0, 0, 0, .85);
}

.rn-notes-editor-settings-callinvite > div {
	position:relative;
	bottom:-1px;
}

.rn-notes-editor-settings-submit {
	border-radius:3px;
	margin-top:7.5px;
	cursor:pointer;
	height:40px;
	width:165px;
	background:rebeccapurple;
	color:white;
	font-size:1em;
	font-family:"Quicksand";
	font-weight:400;
	transition:.25s;
}

.rn-notes-editor-settings-submit:hover {
	box-shadow:0px 0px 15px -5px rgba(0, 0, .45);
	transform:scale(1.025);
}

.rn-notes-editor-settings-submit:active {
	box-shadow:none;
	transform:scale(.975);
}

.rn-notes-editor-settings-invite {
	height:auto;
	width:100%;
	display:flex;
	position:relative;
	flex-direction:column;
	align-items:center;
	justify-content:flex-start;
}

.rn-notes-editor-settings-invite-item {
	--margin:5px;

	margin-top:var(--margin);
	margin-bottom:var(--margin);
	width:calc(100% - 20px);
	height:65px;
	display:flex;
	align-items:stretch;
	justify-content:center;
	border-radius:3px;
	box-shadow:0px 0px 15px -4px rgba(0, 0, 0, .05);
	position:relative;
}

.rn-notes-editor-settings-invite-item-avatar,
.rn-notes-editor-settings-invite-item-info {
	cursor:pointer;
}

.rn-notes-editor-settings-invite-item-avatar {
	display:flex;
	align-items:center;
	justify-content:center;
	width:60px;
	flex-shrink:0;
}

.rn-notes-editor-settings-invite-item-avatar * {
	border-radius:50%;
}

.rn-notes-editor-settings-invite-item-avatar > div {
	--size:40px;

	height:var(--size);
	width:var(--size);
	position:relative;
}

.rn-notes-editor-settings-invite-item-avatar img {
	object-fit:cover;
	object-position:center;
	height:100%;
	width:100%;
}

.rn-notes-editor-settings-invite-item-info {
	min-width:0;
	position:relative;
	width:100%;
	flex-shrink:1;
	display:flex;
	align-items:flex-start;
	flex-direction:column;
	justify-content:center;
}

.rn-notes-editor-settings-invite-item-info > p {
	--margin:1px;
	
	margin-top:var(--margin);
	margin-bottom:var(--margin);
	overflow:hidden;
	text-overflow:ellipsis;
	white-space:nowrap;
	font-family:"Arial";
	-webkit-font-smoothing:antialiased;
	font-weight:400;
}

.rn-notes-editor-settings-invite-item-info-name {
	font-size:.95em;
}

.rn-notes-editor-settings-invite-item-info-shares {
	color:rgba(0, 0, 0, .4);
	font-size:.85em;
}

.rn-notes-editor-settings-invite-item-join {
	width:40px;
	display:flex;
	align-items:center;
	justify-content:center;
	flex-shrink:0;
	cursor:pointer;
}

.rn-notes-editor-settings-invite-item-join-add {
	--size:30px;

	height:var(--size);
	width:var(--size);
	background:transparent;
	font-size:.85em;
	cursor:pointer;
	color:black;
}

.rn-notes-editor-settings-invite-item-join-load {
	--size:15px;

	height:var(--size);
	width:var(--size);
	border-radius:50%;
	border:2px solid transparent;
	border-top-color:rebeccapurple;
	animation:notes-editor-settings-continivite-loading-inf-am 1s infinite linear;
}

@keyframes notes-editor-settings-continivite-loading-inf-am {
	from {
		transform:rotate(0deg);
	}
	to {
		transform:rotate(360deg);
	}
}

.rn-notes-editor-settings-invite-item-join > button > svg {
	position:relative;
	top:1px;
}

/* WARNING: Editor blocks styles */
.rn-notes-editor-edsts__INCLUDES__-blockquote {
	position:relative;
}

.rn-notes-editor-edsts__INCLUDES__-blockquote:before {
	content:'';
	position:absolute;
	top:-50%;
	left:-15px;
	height:45px;
	width:5px;
	border-radius:5px;
	background:rebeccapurple;
	transition:.25s;
}
/* ... */

.rn-notes-editor-closealert__control,
.rn-notes-editor-closealert {
	--trans:.45s;

	opacity:0;
	visibility:hidden;
	transition:all var(--trans), visibility var(--trans);
}

.rn-notes-editor-closealert__control.active,
.rn-notes-editor-closealert__control.active ~ .rn-notes-editor-closealert {
	transition:all var(--trans);
	opacity:1;
	visibility:visible;
}

.rn-notes-editor-closealert__control.active ~ .rn-notes-editor-closealert {
	animation:notes-editor-bounce-init var(--trans) ease-in-out;
}

@keyframes notes-editor-bounce-init {
	0% {
		transform:translate(-50%, -50%) scale(0);
	}
	25% {
		transform:translate(-50%, -50%) scale(1.1);
	}
	50% {
		transform:translate(-50%, -50%) scale(.9);
	}
	75% {
		transform:translate(-50%, -50%) scale(1.05);
	}
	100% {
		transform:translate(-50%, -50%) scale(1);
	}
}

.rn-notes-editor-closealert__control {
	height:100vh;
	width:100vw;
	background:rgba(0, 0, 0, .15);
	z-index:407;
	position:fixed;
	top:0;
	left:0;
}

.rn-notes-editor-closealert {
	padding:15px;
	position:fixed;
	top:50%;
	left:50%;
	margin-right:50%;
	transform:translate(-50%, -50%);
	height:auto;
	width:400px;
	border-radius:5px;
	background:white;
	z-index:408;
}

.rn-notes-editor-closealert-title {
	text-align:center;
	color:rgba(0, 0, 0, .45);
	font-weight:400;
	font-family:"Quicksand";
	margin:0;
	font-size:1.25em;
}

.rn-notes-editor-closealert-content {
	margin-top:20px;
	margin-bottom:10px;
	font-family:"Exo";
	font-weight:500;
}

.rn-notes-editor-closealert-val {
	display:flex;
	align-items:center;
	justify-content:space-between;
}

.rn-notes-editor-closealert-val > * {
	width:100%;
}