.rn-settings {
	display:flex;
	flex-direction:column;
}

.rn-settings-isl {
	--padding:25px;
	--margin:10px;

	margin-top:var(--margin);
	margin-bottom:var(--margin);
	width:calc(600px - var(--padding) * 2);
	max-width:calc(100% - 15px);
	padding:var(--padding);
	border-radius:5px;
	background:var(--lamp_item);
	display:flex;
	box-shadow:0px 0px 15px -7.5px var(--lamp-black-extra-mid);
	flex-direction:column;
	align-items:flex-start;
}

.rn-settings-isl:first-child {
	margin-top:0;
}

.rn-settings-isl:last-child {
	margin-bottom:0;
}

.rn-settings-isl-title {
	font-weight:600;
	font-family:"Roboto";
	-webkit-font-smoothing:antialiased;
	color:var(--lamp-black-high);
	font-size:1.5em;
}

.rn-settings-isl-desc {
	margin-top:5px;
	margin-bottom:5px;
	font-size:.9em;
	color:var(--lamp-black-extra-mid);
	font-family:"Gothic A1";
}

.rn-settings-isl-submit {
	--padding:25px;

	margin-top:15px;
	border-radius:3px;
	font-size:.9em;
	color:white;
	font-family:"Gothic A1";
	font-weight:500;
	padding-left:var(--padding);
	padding-right:var(--padding);
	height:40px;
	background:red;
	cursor:pointer;
	background:#55A7FB;
	transition:.15s;
}

.rn-settings-isl-submit:active {
	transform:scale(.9);
}

.rn-settings-isl-input {
	--margin:10px;

	margin-top:var(--margin);
	margin-bottom:var(--margin);
	display:flex;
	flex-direction:column;
	align-items:flex-start;
}

.rn-settings-isl-input:first-child {
	margin-top:0;
}

.rn-settings-isl-input:last-child {
	margin-bottom:0;
}

.rn-settings-isl-input-title {
	font-size:.75em;
	color:var(--lamp-black-extra-mid);
	font-family:"Gothic A1";
	font-weight:400;
	margin-bottom:5px;
	text-transform:capitalize;
}

.rn-settings-isl-input-field {
	height:40px;
	width:195px;
	background:var(--lamp_white-mid_e-low);
	border:1px solid var(--defaultborder);
	position:relative;
	display:flex;
	border-radius:5px;
	align-items:stretch;
}

.rn-settings-isl-input-field > div {
	height:100%;
	width:30px;
	flex-shrink:0;
	display:flex;
	align-items:center;
}

.rn-settings-isl-input-field > div.accepted {
	color:green;
}

.rn-settings-isl-input-field > div.denied {
	color:red;
}

.rn-settings-isl-input-field > input {
	--padding:10px;

	padding-left:var(--padding);
	padding-right:var(--padding);
	height:100%;
	width:100%;
	font-size:.9em;
	color:var(--lamp-black-high);
	font-family:"Lato";
}

.rn-settings-isl-st {
	display:flex;
	align-items:center;
	position:relative;
}

.rn-settings-isl-st > span {
	margin-right:10px;
	font-weight:500;
	font-family:"Quicksand";
	color:var(--lamp-black-low-high);
}