html, body {
	margin:0;
	height:100%;
	font-family:"Arial";
}

.hidden {
	opacity:0;
	visibility:hidden;
	position:absolute;
	display:none;
	z-index:-999999;
}

.definp {
	padding:0;
	margin:0;
	background:transparent;
	box-shadow:none;
	border:none;
	outline:0;
}

.rn {
	position:relative;
	height:100vh;
	width:100vw;
}