@import url('https://fonts.googleapis.com/css?family=Gothic+A1|Lato|Quicksand|Roboto|Exo');

:root {
	--defaultborder:rgba(0, 0, 0, .1);
	--navheight:60px;
	--navwidth:250px;
	--rnnovnav-padds:65px;
}

html, body {
	margin:0;
	height:100%;
	font-family:"Arial";
	background:#FBFBFD;
	overflow:hidden;
}

.hidden {
	opacity:0;
	visibility:hidden;
	position:absolute;
	display:none;
	z-index:-999999;
}

.definp {
	padding:0;
	margin:0;
	background:transparent;
	box-shadow:none;
	border:none;
	outline:0;
	text-decoration:none;
}

.rn {
	position:relative;
	height:100vh;
	width:100vw;
	overflow-x:hidden!important;
	overflow-y:visible!important;
}

.rn:not(.nonav) {
	height:calc(100vh - var(--navheight) - 1px);
	width:calc(100vw - var(--navwidth));
	padding-left:var(--rnnovnav-padds);
	display:flex;
	align-items:flex-start;
	flex-direction:column;
	overflow:scroll;
}

.rn:not(.nonav) > * {
	flex-shrink:0;
}

.global_error {
	--height:37.5px;
	--trans:.35s;

	position:fixed;
	bottom:calc(var(--height) * -1);
	/*line-height:var(--height);*/
	display:flex;
	align-items:center;
	justify-content:center;
	min-height:var(--height);
	width:100vw;
	left:0;
	z-index:99999999999999999;
	background:#292A2C;
	color:white;
	font-weight:400;
	font-family:"Quicksand";
	text-align:center;
	opacity:0;
	box-shadow:-1px 0px 5px 0px rgba(0, 0, 0, .45);
	transition:all var(--trans), opacity 0s var(--trans);
	transition-timing-function:cubic-bezier(0.77, 0, 0.175, 1);
}

.global_error > span {
	opacity:0;
	transition:all var(--trans) ease-in-out;
}

.global_error.active {
	transition:all var(--trans), opacity 0s;
	opacity:1;
	bottom:0;
}

.global_error.active > span {
	transition:all var(--trans) var(--trans) ease-in-out;
	opacity:1;
}

.targetscreen {
	width:100vw;
	display:flex;
}

.public-DraftEditorPlaceholder-root {
	position:absolute;
	opacity:.25;
	z-index:-1;
}

@media only screen and (max-width: 1100px) {
	.rn:not(.nonav) {
		align-items:center!important;
		padding-left:0!important;
	}

	.rn:not(.nonav) > * {
		margin-left:auto!important;
		margin-right:auto!important;
	}
}

/*@media only screen and (max-width:815px) {
	.rn-feed-mat-item-collage {
		width:calc(100% - 45px)!important;
	}
}*/

@media only screen and (max-width:750px) {
	.gl-nav-logo > span {
		display:none!important;
	}

	.gl-nav-logo > div {
		display:block!important;
	}

	.gl-nav-search {
		width:100%!important;
	}

	.gl-nav-account {
		flex-shrink:0!important;
	}

	.gl-nav-search-dock,
	.gl-nav-account-notifications-dock,
	.gl-dock {
		--pd:15px;

		width:calc(100vw - var(--pd))!important!important;
		left:calc(var(--pd) / 2)!important;
		position:fixed!important;
		top:calc(var(--nav_realheight) + var(--nav_realpadd) * 2 + 1px)!important;
	}

	.gl-dock {
		z-index:50;
		transform:translateX(-100vw)!important;
		transition:all .25s ease-in-out!important;
		box-shadow:0px 0px 15px -5px rgba(0, 0, 0, .5)!important;
	}

	.gl-dock.show {
		transform:translateX(0)!important;
		left:0!important;
	}

	.rn {
		width:100%!important;
		margin-left:auto!important;
		margin-right:auto!important;
	}

	.rn-account > * {
		width:100%!important;
	}
}

@media only screen and (max-width:600px) {
	.rn-presentation-navarrow {
		visibility:hidden!important;
	}
}

@media only screen and (max-width:475px) {
	.rn-chat-conversations {
		--width:calc(100% - var(--chat_convitempadd) * 2 - 5px);

		width:var(--width)!important;
		max-width:var(--width)!important;
	}

	.rn-chat-conversations-item {
		width:var(--width)!important;
		max-width:var(--width)!important;
	}

	.rn-account-thumb-nav-img {
		align-items:center!important;
		position:absolute!important;
		height:80%!important; /* XXX */
		top:15px!important;
		left:50%!important;
		transform:translateX(-50%)!important;
		flex-direction:column!important;
		z-index:7!important;
		justify-content:center!important;
	}

	.rn-account-thumb-cover-subfr {
		position:absolute!important;
		bottom:15px!important;
		left:50%!important;
		margin-right:50%!important;
		transform:translateX(-50%)!important;
		width:100%!important;
		justify-content:center!important;
	}

/*	.rn-feed-mat-item {
		width:calc(100% - 15px)!important;
	}*/

	.rn-account-thumb-nav-img > img {
		--size:115px;

		height:var(--size)!important;
		width:var(--size)!important;
		box-shadow:0px 0px 15px -2.5px rgba(0, 0, 0, .5);
	}

	.rn-account-thumb-nav-name {
		position:relative!important;
		top:inherit!important;
		left:inherit!important;
		transform:inherit!important;
		margin-right:auto!important;
	}

	.rn-account-thumb-nav-btn,
	.rn-account-thumb-cover-edit {
		z-index:8!important;
	}

	.rn-account-thumb-nav-btn {
		margin-right:20px!important;
	}

	.rn-feed-item {
		--padding:7.5px;

		padding-left:var(--padding)!important;
		padding-right:var(--padding)!important;
	}

	.rn-account-thumb-cover-img {
		filter:blur(20px);
		transform:scale(1.2);
	}

	.rn-account-thumb-cover {
		overflow:hidden!important;
	}

	.rn-account-display-friends-nav-grid-user {
		width:100%!important;
	}

	.rn-account-display-friends-nav {
		flex-direction:column-reverse!important;
	}

	.rn-account-display-item-title {
		margin-bottom:30px!important;
	}

	.rn-account-display-friends-nav-ss {
		margin-bottom:10px!important;
	}

	.rn-settings-isl {
		--padd:5px;
		--mrgn:10px;

		align-items:center!important;
		text-align:center!important;
		padding-left:var(--padd)!important;
		padding-right:var(--padd)!important;
		margin-top:var(--mrgn)!important;
		margin-bottom:var(--mrgn)!important;
	}
}