:root {
	--chat_winwidth:600px;
	--chat_convitemmaxw:425px;
	--chat_convitemavw:28px;
	--chat_convitempadd:15px;
	--chat_convtxtcol:0;
	--chat_convcontborr:.05;
}

.rn-chat {
	align-items:center!important;
}

.rn-chat-search {
	border:1px solid var(--defaultborder);
	height:37.5px;
	width:var(--chat_winwidth);
	max-width:80%;
	background:white;
	display:flex;
	align-items:stretch;
	border-radius:45px;
	margin-top:25px;
	margin-bottom:15px;
	opacity:.9;
	box-shadow:0px 0px 7.5px -2.5px rgba(0, 0, 0, .15);
	transition:all .45s;
}

.rn-chat-search:hover {
	box-shadow:0px 0px 0px 0px rgba(0, 0, 0, 0);
}

.rn-chat-search-field {
	--padding:15px;

	padding-left:var(--padding);
	width:calc(100% - var(--padding));
	font-size:.95em;
	font-family:"Roboto";
	font-weight:500;
	height:100%;
}

.rn-chat-conversations {
	max-width:calc(100% - 15px);
	display:flex;
	flex-wrap:wrap;
	justify-content:center;
	align-items:flex-start;
}

.rn-chat-conversations-item {
	--chat_convtxtcol:0;

	padding:var(--chat_convitempadd);
	display:flex;
	max-width:var(--chat_convitemmaxw);
	align-items:stretch;
	border-radius:15px;
	background:white;
	margin:5px;
	box-shadow:0px 0px 5px 0px rgba(0, 0, 0, .25);
	transition:.25s;
}

.rn-chat-conversations-item:hover {
	box-shadow:0px 0px 15px 0px rgba(0, 0, 0, .25);	
}

.rn-chat-conversations-item.white {
	--chat_convtxtcol:0;
	--chat_convcontborr:.05;
}

.rn-chat-conversations-item.purple,
.rn-chat-conversations-item.red,
.rn-chat-conversations-item.pink,
.rn-chat-conversations-item.sea,
.rn-chat-conversations-item.clouds,
.rn-chat-conversations-item.orange {
	--chat_convtxtcol:255;
}

.rn-chat-conversations-item.purple {
	background:#7641AD;
}

.rn-chat-conversations-item.pink {
	background:#B65EBA;
}

.rn-chat-conversations-item.red {
	--chat_convcontborr:.2;

	background:#D3458D;
}

.rn-chat-conversations-item.sea {
	background:#3A3985;
}

.rn-chat-conversations-item.clouds {
	background:#6454F0;
}

.rn-chat-conversations-item.orange {
	--chat_convcontborr:.15;

	background:#EA4D2C;
}

.rn-chat-conversations-item-previewimg {
	width:var(--chat_convitemavw);
	flex-shrink:0;
	display:flex;
	align-items:flex-start;
	justify-content:center;
}

.rn-chat-conversations-item-previewimg-image {
	height:var(--chat_convitemavw);
	width:var(--chat_convitemavw);
	border:1px solid var(--defaultborder);
	border-radius:50%;
	position:relative;
	flex-shrink:0;
	box-shadow:0px 0px 10px -4px rgba(var(--chat_convtxtcol), var(--chat_convtxtcol), var(--chat_convtxtcol), .25);
}

.rn-chat-conversations-item-previewimg-img {
	border-radius:50%;
	height:100%;
	width:100%;
	object-fit:cover;
	object-position:center;
}

.rn-chat-conversations-item-previewimg-not {
	--size:6px;

	height:var(--size);
	width:var(--size);
	border-radius:50%;
	background:red;
	position:absolute;
	top:-2.5px;
	right:-2.5px;
}

.rn-chat-conversations-item-content {
	width:calc(100% - var(--chat_convitemavw));
	margin-left:10px;
	display:flex;
	flex-direction:column;
	position:relative;
}

.rn-chat-conversations-item-content-title,
.rn-chat-conversations-item-content-title > div {
	display:flex;
	align-items:center;
}

.rn-chat-conversations-item-content-title,
.rn-chat-conversations-item-content-members {
	flex-shrink:0;
}

.rn-chat-conversations-item-content-title {
	justify-content:space-between;
	height:var(--chat_convitemavw);
	flex-shrink:0;
	min-width:0;
	overflow:scroll; /* horizontal scroll for extremely small devices or extra long names */
}

.rn-chat-conversations-item-content-title > div {
	font-size:.95em;
	font-family:"Lato";
}

.rn-chat-conversations-item-content-title > div > * {
	margin-right:5px;
}

.rn-chat-conversations-item-content-title-name {
	font-weight:500;
	color:rgb(var(--chat_convtxtcol), var(--chat_convtxtcol), var(--chat_convtxtcol));
	white-space:nowrap;
	overflow:hidden;
	text-overflow:ellipsis;
}

.rn-chat-conversations-item-content-title-placeholder {
	color:rgba(var(--chat_convtxtcol), var(--chat_convtxtcol), var(--chat_convtxtcol), .2);
}

.rn-chat-conversations-item-content-title-time {
	color:rgba(var(--chat_convtxtcol), var(--chat_convtxtcol), var(--chat_convtxtcol), .5);
}

.rn-chat-conversations-item-content-title-time {
	font-weight:400;
}

.rn-chat-conversations-item-content-controls {
	margin-left:25px;
}

.rn-chat-conversations-item-content-controls-btn {
	color:rgba(var(--chat_convtxtcol), var(--chat_convtxtcol), var(--chat_convtxtcol));
	font-size:1em;
	cursor:pointer;
}

.rn-chat-conversations-item-content-last {
	--margin:10px;
	--bc:rgba(var(--chat_convtxtcol), var(--chat_convtxtcol), var(--chat_convtxtcol), var(--chat_convcontborr));

	margin-top:var(--margin);
	margin-bottom:var(--margin);
	padding-top:var(--margin);
	padding-bottom:var(--margin);
	border-top:1px solid var(--bc);
	border-bottom:1px solid var(--bc);
	height:100%;
	display:flex;
	flex-direction:column;
	justify-content:center;
	align-items:flex-start;
	min-width:0;
	position:relative;
	font-family:"Quicksand";
}

.rn-chat-conversations-item-content-last.lastinrow {
	border-bottom:0;
	padding-bottom:0;
	margin-bottom:0;
}

.rn-chat-conversations-item-content-last > span {
	width:100%;
	overflow:hidden;
	text-overflow:ellipsis;
	white-space:nowrap;
}

.rn-chat-conversations-item-content-last-name {
	font-weight:600;
	font-size:1em;
	margin-bottom:5px;
	color:rgb(var(--chat_convtxtcol), var(--chat_convtxtcol), var(--chat_convtxtcol));
}

.rn-chat-conversations-item-content-last-content {
	font-weight:500;
	font-size:.95em;
	color:rgba(var(--chat_convtxtcol), var(--chat_convtxtcol), var(--chat_convtxtcol), .6);
}

.rn-chat-conversations-item-content-members {
	display:flex;
	align-items:center;
}

.rn-chat-conversations-item-content-members-item,
.rn-chat-conversations-item-content-members-item-mg,
.rn-chat-conversations-item-content-members-item-mr {
	border-radius:50%;
}

.rn-chat-conversations-item-content-members-item {
	--size:25px;

	height:var(--size);
	width:var(--size);
	background:red;
	position:relative;
	cursor:pointer;
	margin-right:7.5px;
}

.rn-chat-conversations-item-content-members-item-mg {
	height:100%;
	width:100%;
	object-fit:cover;
	object-position:center;
}

.rn-chat-conversations-item-content-members-item-mr {
	background:black;
	color:white;
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	z-index:2;
	font-size:.65em;
	line-height:var(--size);
	text-align:center;
	font-family:"Roboto";
	font-weight:500;
	cursor:default;
}

@media only screen and (max-width:485px) { /* chat_convitemmaxw(425px) + chat_convitempadd * 4 (15px) = 485px */
	.rn-chat-conversations {
		--width:calc(100% - var(--chat_convitempadd) * 2 - 5px);

		width:var(--width)!important;
		max-width:var(--width)!important;
	}

	.rn-chat-conversations-item {
		width:var(--width)!important;
		max-width:var(--width)!important;
	}
}