.coi-selectionlist_bg {
	position:fixed;
	top:0;
	left:0;
	height:100vh;
	width:100vw;
	background:transparent;
	display:none;
}

.coi-selectionlist_call {
	font-size:.95em;
	cursor:pointer;
	font-family:"Quicksand";
	font-weight:400;
	-webkit-font-smoothing:antialiased;
	position:absolute;
	right:0;
	top:50%;
	transform:translateY(-50%);
	font-size:1em;
	cursor:pointer;
	color:rgba(0, 0, 0, .75);
}

.coi-selectionlist {
	position:absolute;
	right:0;
	top:50%;
	transform:translateY(-50%);
	z-index:15;
}

.coi-selectionlist-mat {
	display:none;
	border-radius:5px;
	box-shadow:0px 0px 12.5px -5px rgba(0, 0, 0, .25);
	background:white;
	align-items:stretch;
	height:auto;
	flex-direction:column;
	width:100px;
	position:absolute;
	z-index:5;
	bottom:0px;
	max-height:140px;
	overflow:scroll;
	left:-10px;
	transform:translate(-50%, 100%);
}

.coi-selectionlist:hover > .coi-selectionlist-mat {
	display:flex;
}

.coi-selectionlist-item {
	text-align:center;
	font-size:.85em;
	cursor:pointer;
	height:40px;
	flex-shrink:0;
	width:100%;
	transition:.1s;
}

.coi-selectionlist-item:hover {
	background:rgba(0, 0, 0, .01);
}

.coi-selectionlist-item:active {
	background:rgba(0, 0, 0, .05);
}