.coi-bandsrail {
	display:flex;
	align-items:center;
}

.coi-bandsrail-icon > * {
	--margin:5px;

	margin-left:var(--margin);
	margin-right:var(--margin);
}

.coi-bandsrail-icon > :first-child {
	margin-left:0;
}

.coi-bandsrail-icon > :last-child {
	margin-right:0;
}

.coi-bandsrail-icon {
	--size:20px;
	--margin:5px;

	margin-left:var(--margin);
	margin-right:var(--margin);
	height:var(--size);
	width:var(--size);
	background:#1da1f2;
	border:1px solid var(--lamp_white-extra-low);
	box-shadow:0px 0px 15px -5px var(--lamp-black-alm-low);
	display:flex;
	align-items:center;
	justify-content:center;
	font-size:.85em;
	border-radius:50%;
	padding:1px;
	position:relative;
}

.coi-bandsrail-icon > svg {
	margin:0;
}

.coi-bandsrail-icon-tt {
	--trans:.4s;

	position:absolute;
	bottom:-7.5px;
	transform:translate(-50%, 100%);
	left:50%;
	box-shadow:0px 0px 15px -5px var(--lamp-black-alme-low);
	background:var(--lamp-black-stylish);
	color:var(--lamp_const-white);
	white-space:pre-wrap;
	text-align:center;
	font-size:.85em;
	max-width:210px;
	padding:10px;
	margin:0;
	border-radius:2.5px;
	font-weight:400;
	font-family:"Quicksand";
	opacity:0;
	visibility:hidden;
	transition:all var(--trans), visibility var(--trans);
}

.coi-bandsrail-icon:hover > .coi-bandsrail-icon-tt {
	transition:all var(--trans), visibility 0s;
	opacity:1;
	visibility:visible;
}

.coi-bandsrail-icon-tt strong {
	font-weight:600;
}