:root {
	--presentation_navarroww:100px;
	--presentation_slidetransition:.25s;
	--presentation_displaytransition:.75s;
}

.rn-presentation {
	background:orange;
	overflow:hidden;
	display:flex;
	align-items:stretch;
	transition:all var(--presentation_slidetransition);
}

.rn-presentation *:not(input):not(button) {
	user-select:none;
}

.rn-presentation-navarrow {
	width:var(--presentation_navarroww);
	display:flex;
	align-items:center;
	justify-content:center;
	opacity:.25;
	cursor:pointer;
	color:white;
	transition:.4s;
	font-size:1.75em;
	position:relative;
	z-index:5;
}

.rn-presentation-navarrowplaceholder {
	width:var(--presentation_navarroww);
}

.rn-presentation-navarrow:hover {
	opacity:1;
}

.rn-presentation-navarrow:active {
	transition:.1s;
	background:var(--lamp-black-double-min);
}

.rn-presentation-view,
.rn-presentation-view-stage {
	display:flex;
	align-items:center;
	justify-content:center;
}

.rn-presentation-view {
	width:calc(100% - var(--presentation_navarroww) * 2);
	position:relative;
}

.rn-presentation-view.stretch {
	width:100%;
}

.rn-presentation-view-stage {
	--transspread:200px;
	--scalespread:.5;

	flex-direction:column;
	opacity:0;
	margin:0;
	position:absolute;
	top:50%;
	left:50%;
	margin-right:50%;
	transform:translate(-50%, -50%);
	transition:all var(--presentation_slidetransition);
}

.rn-presentation-view-stage.new {
	transform:translate(-50%, -50%) translateX(calc(var(--transspread) * -1)) scale(var(--scalespread));
}

.rn-presentation-view-stage.visible {
	opacity:1;
	transform:translate(-50%, -50%) translateX(0) scale(1);
}

.rn-presentation-view-stage.old {
	transform:translate(-50%, -50%) translateX(var(--transspread)) scale(var(--scalespread));
}

.rn-presentation-view-stage-icon {
	width:245px;
	margin-bottom:35px;
}

.rn-presentation-view-stage-title,
.rn-presentation-virew-stage-desc {
	font-weight:400;
	font-family:"Quicksand";
	max-width:90vw;
	text-align:center;
}

.rn-presentation-view-stage-title {
	color:white;
	font-size:1.5em;
	text-align:center;
	white-space:nowrap;
}

.rn-presentation-virew-stage-desc {
	font-size:1.15em;
	color:var(--lamp_white-alm-full);
	margin-top:5px;
	width:150%;
}

.rn-presentation-skip {
	position:absolute;
	left:50%;
	transform:translateX(-50%);
	top:7.5px;
	display:flex;
	align-items:center;
	z-index:15;
	opacity:.85;
}

.rn-presentation-skip > * {
	--trans:.1s;

	--margin:2.5px;
	margin-left:var(--margin);
	margin-right:var(--margin);
	color:white;
	transition:all var(--presentation_displaytransition) calc(var(--presentation_displaytransition) / 4), transform var(--trans);
}

/*.rn-presentation-skip.instage > * {
	color:black;
	transition:all var(--presentation_displaytransition), transform var(--trans);
}*/

.rn-presentation-skip > button {
	--padding:10px;
	--height:27.5px;
	text-transform:uppercase;
	line-height:calc(var(--height) + 1.5px);
	font-size:1.05em;
	cursor:pointer;
	border-radius:3px;
	height:var(--height);
	font-family:"Roboto";
	font-weight:500;
	-webkit-font-smoothing:antialiased;
	padding-left:var(--padding);
	padding-right:var(--padding);
	white-space:nowrap;
}

.rn-presentation-skip > button:active {
	transform:scale(.9);
}

.rn-presentation-stage {
	position:absolute;
	transform:translateY(-100%);
	display:flex;
	align-items:center;
	justify-content:center;
	flex-direction:column;
	height:100%;
	width:100%;
	background:#CFCDDF;
	z-index:4;
}

.rn-presentation-stage,
.rn-presentation-stage * {
	transition:all var(--presentation_displaytransition);
}

.rn-presentation-stage.active {
	transform:translateY(0);
	z-index:5;
}

.rn-presentation-stage-background {
	height:100%;
	width:100%;
	object-fit:cover;
	object-position:center;
}

.rn-presentation-stage.active .rn-presentation-stage-background {
	filter:brightness(50%);
}

.rn-presentation-stage-form {
	width:285px;
	background:white;
	border-radius:7.5px;
	box-shadow:0px 0px 25px -15px black;
	position:absolute;
	top:50%;
	left:50%;
	margin-right:50%;
	transform:translate(-50%, calc(-50% - 400px));
	z-index:5;
	display:flex;
	align-items:center;
	justify-content:center;
	flex-direction:column;
	padding:20px;
	transition:all 1s!important;
}

.rn-presentation-stage.active .rn-presentation-stage-form {
	transform:translate(-50%, -50%);
}

.rn-presentation-stage-form-logstatus {
	--size:40px;

	height:var(--size);
	width:var(--size);
	border-radius:50%;
	display:flex;
	align-items:center;
	justify-content:center;
	color:#6E18FF;
	background:#DFD9FC;
	box-shadow:.5px 1px 0px 1px var(--lamp-black-double-min);
	transition:.25s;
}

.rn-presentation-stage-form-logstatus.accepted {
	color:#98CDC8;
	background:transparent;
}

.rn-presentation-stage-form-title {
	margin-top:5px;
	margin-bottom:15px;
	white-space:nowrap;
	font-weight:600;
	font-size:1.2em;
	font-family:"Quicksand";
}

.rn-presentation-stage-input {
	--margin:7.5px;

	display:flex;
	flex-direction:column;
	width:100%;
	align-items:flex-start;
	justify-content:center;
	margin-top:var(--margin);
	margin-bottom:var(--margin);
}

.rn-presentation-stage-input-title {
	color:var(--lamp-black-high);
	font-size:.9em;
	font-family:"Quicksand";
}

.rn-presentation-stage-input-fieldcontrol {
	width:100%;
	position:relative;
	margin-top:5px;
	height:40px;
}

.rn-presentation-stage-input-field {
	--padding:10px;

	height:calc(100% - 2.5px);
	width:calc(100% - var(--padding) * 2);
	padding-left:var(--padding);
	padding-right:var(--padding);
	font-size:.9em;
	position:relative;
	overflow:visible;
}

.rn-presentation-stage-input-border {
	position:absolute;
	bottom:0;
	left:0;
	width:100%;
	height:2px;
	background:var(--lamp-black-alme-low);
}

.rn-presentation-stage-input-border,
.rn-presentation-stage-input-border:before {
	transition:all .25s;
}

.rn-presentation-stage-input-field[type="password"]::placeholder {
	-webkit-text-security:disc;
}

.rn-presentation-stage-input-border:before {
	content:'';
	position:absolute;
	left:50%;
	margin-right:50%;
	transform:translate(-50%);
	width:0%;
	height:100%;
	background:blue;
}

.rn-presentation-stage-input-field:focus:not(.loading) ~ .rn-presentation-stage-input-border:before {
	width:100%;
}

.rn-presentation-stage-input-field.loading ~ .rn-presentation-stage-input-border:before {
	opacity:1;
	animation:presintation-stage-input-border-loading-inf-am 1s infinite ease-in-out;
}

@keyframes presintation-stage-input-border-loading-inf-am {
	0% {
		width:0;
		left:0;
		transform:translateX(0);
	}
	50% {
		width:50%;
		left:50%;
		transform:translateX(-50%);
	}
	100% {
		width:0;
		left:100%;
	}
}

.rn-presentation-stage-input-status {
	position:absolute;
	right:12.5px;
	top:calc(50% + 2px);
	transform:translateY(-50%);
	opacity:0;
	transition:.1s;
}

.rn-presentation-stage-input-status.valid,
.rn-presentation-stage-input-status.invalid {
	opacity:1;
}

.rn-presentation-stage-input-status.valid {
	color:green;
}

.rn-presentation-stage-input-status.invalid {
	color:red;
}

.rn-presentation-stage-form-submit {
	--mcol:#6270C7;

	height:30px;
	width:100%;
	background:var(--mcol);
	font-size:.85em;
	color:white;
	border-radius:3px;
	cursor:pointer;
	font-weight:400;
	margin-top:12.5px;
	box-shadow:0px 0px 5px -2px var(--mcol);
	position:relative;
	transition:all .15s, background .75s;
}

.rn-presentation-stage-form-submit > * {
	opacity:0;
	position:absolute;
	top:50%;
	left:50%;
	margin-right:50%;
	transform:translate(-50%, -50%);
}

.rn-presentation-stage-form-submit.loading {
	background:gray;
}

.rn-presentation-stage-form-submit.denied {
	background:red;
	color:white;
}

.rn-presentation-stage-form-submit-loading {
	--size:10px;

	width:var(--size);
	height:var(--size);
	border-radius:50%;
	border:2px solid var(--lamp-black-alm-low);
	border-top-color:rebeccapurple;
	animation:registerp-submit-rotating-inf-am 1s infinite linear;
}

.rn-presentation-stage-form-submit.accepted > .accepted {
	opacity:1;
}

.rn-presentation-stage-form-submit.loading > .loading {
	opacity:1;
}

.rn-presentation-stage-form-submit.denied > .denied {
	opacity:1;
}

@keyframes registerp-submit-rotating-inf-am {
	from {
		transform:translate(-50%, -50%) rotate(0deg);
	}
	to {
		transform:translate(-50%, -50%) rotate(360deg);
	}
}

.rn-presentation-stage-form-submit.accepted:hover {
	--mcol:#5F6FD6;
}

.rn-presentation-stage-form-submit.accepted:active {
	transform:scale(.975);
}

.rn-presentation-stage-image {
	--size:55px;
	--margin:5px;

	height:var(--size);
	width:var(--size);
	border-radius:50%;
	position:relative;
	overflow:hidden;
	margin-top:var(--margin);
	margin-bottom:var(--margin);
}

.rn-presentation-stage-image-mat {
	height:100%;
	width:100%;
	border-radius:50%;
	object-fit:cover;
	object-position:center;
}

.rn-presentation-stage-image-upload {
	color:var(--lamp_white-alm-full);
	position:absolute;
	background:var(--lamp-black-mid);
	height:100%;
	width:100%;
	transition:.4s;
	display:flex;
	align-items:center;
	justify-content:center;
	font-size:1.25em;
	top:0;
	left:0;
	cursor:pointer;
	opacity:0;
}

.rn-presentation-stage-image:hover > .rn-presentation-stage-image-upload {
	opacity:1;
}