.rn-feed-mat-item-commentinput {
	--height:50px;

	width:100%;
	height:var(--height);
	position:relative;
	margin-top:7.5px;
	display:flex;
	align-items:center;
	flex-shrink:0;
}

.rn-feed-mat-item-commentinput:before {
	content:'';
	position:absolute;
	top:0;
	left:calc(var(--feed_feeditempaddlr) / 2 * -1);
	width:calc(100% + var(--feed_feeditempaddlr));
	height:1px;
	background:var(--defaultborder);
}

.rn-feed-mat-item-commentinput-avatar,
.rn-feed-mat-item-commentinput-controls {
	flex-shrink:0;
}

.rn-feed-mat-item-commentinput-avatar {
	--size:calc(var(--height) / 100 * 65);
	--margin:12.5px;

	width:var(--size);
	height:var(--size);
	display:flex;
	align-items:center;
	margin-right:var(--margin);
	position:relative;
}

.rn-feed-mat-item-commentinput-avatar > img {
	height:100%;
	width:100%;
	border-radius:50%;
	border:1px solid var(--lamp-black-alme-low);
	object-fit:cover;
	object-position:center;
}

.rn-feed-mat-item-commentinput-avatar-photospreview {
	--previeww:calc(100% + 5px);

	height:90%;
	width:var(--previeww);
	position:absolute;
	top:50%;
	left:50%;
	margin-right:50%;
	transform:translate(-50%, -50%);
	z-index:5;
	background:white;
	display:flex;
	align-items:center;
	justify-content:center;
	flex-wrap:wrap;
}

.rn-feed-mat-item-commentinput-input {
	font-size:.95em;
	width:100%;
	height:100%;
	color:var(--lamp_const-black);
}

.rn-feed-mat-item-commentinput-controls {
	margin-left:var(--margin);
	display:flex;
	align-items:center;
}

.rn-feed-mat-item-commentinput-controls-btn {
	--margin:2.5px;

	margin-left:var(--margin);
	margin-right:var(--margin);
	font-size:1.25em;
	color:var(--lamp-black-mid);
	cursor:pointer;
	transition:.25s;
}

.rn-feed-mat-item-commentinput-controls-btn:hover {
	color:var(--lamp-black-low-high);
}