.coi-loadericon {
	--size:30px;

	display:block;
	margin-left:auto;
	margin-right:auto;
	margin-top:25px;
	height:var(--size)!important;
	width:var(--size)!important;
	border-radius:50%;
	background:transparent;
	border:5px solid rebeccapurple;
	animation:coi-loadericon-rotate-am 1s linear infinite;
}

@keyframes coi-loadericon-rotate-am {
	0% {
		transform:scale(1);
	}
	25% {
		transform:scale(1.1);
	}
	50% {
		transform:scale(1);
	}
	75% {
		transform:scale(.75);
	}
	100% {
		transform:scale(1);
	}
}