:root {
	--nav_logow:150px;
	--nav_accountw:150px;
	--nav_docklpadd:22.5px;
}

.gl-nav,
.gl-dock {
	background:white;
}

.gl-nav {
	--padding:10px;

	height:calc(var(--navheight) - var(--padding) * 2);
	padding-top:var(--padding);
	padding-bottom:var(--padding);
	border-bottom:1px solid var(--defaultborder);
	width:100%;
	display:flex;
	position:relative;
	align-items:stretch;
}

.gl-nav > * {
	position:relative;
}

.gl-nav-logo {
	width:var(--nav_logow);
	display:flex;
	align-items:center;
	justify-content:center;
}

.gl-nav-logo:after {
	right:0;
}

.gl-nav-search {
	--padding:12.5px;
	--bw:45px;

	width:calc(100vw - var(--nav_logow) - var(--nav_accountw) - var(--padding) * 2);
	padding-left:var(--padding);
	padding-right:var(--padding);
	display:flex;
	align-items:stretch;
}

.gl-nav-search-icon {
	color:rgba(0, 0, 0, .3);
	width:var(--bw);
	display:flex;
	align-items:center;
	justify-content:center;
}

.gl-nav-search-input {
	font-size:.95em;
	width:calc(100% - var(--bw));
}

.gl-nav-account {
	width:var(--nav_accountw);
	display:flex;
	align-items:center;
	justify-content:center;
}

.gl-nav-account:before {
	left:0;
}

.gl-nav-account-img {
	--size:35px;
	height:var(--size);
	width:var(--size);
	border-radius:50%;
	border:1px solid rgba(0, 0, 0, .1);
	transition:.2s;
}

.gl-nav-account-img > img {
	height:100%;
	width:100%;
	object-fit:cover;
	object-position:center;
	border-radius:50%;
}

.gl-nav-logo:after,
.gl-nav-account:before {
	content:'';
	position:absolute;
	top:50%;
	transform:translateY(-50%);
	height:100%;
	width:1px;
	background:var(--defaultborder);
}

.gl-nav-account-logout {
	margin-left:15px;
	font-size:1.1em;
	color:rgba(0, 0, 0, .35);
	position:relative;
	bottom:-1.5px;
	cursor:pointer;
}

.gl-dock {
	--paddingt:20px;

	padding-top:var(--paddingt);
	height:calc(100vh - var(--navheight) - var(--paddingt));
	width:var(--navwidth);
	background:white;
	border-right:1px solid var(--defaultborder);
}

.gl-dock-title {
	text-transform:uppercase;
	color:rgba(0, 0, 0, .3);
	font-weight:600;
	font-family:"Quicksand";
	font-size:.8em;
	margin-left:var(--nav_docklpadd);
	margin-top:15px;
}

.gl-dock-title-navigation {
	display:flex;
	flex-direction:column;
	align-items:stretch;
	margin-top:5px;
}

.gl-dock-title-navigation-btn,
.gl-dock-title-navigation-btn:before {
	transition:all .2s ease-in-out;
}

.gl-dock-title-navigation-btn {
	--height:40px;

	text-align:left;
	height:var(--height, 40px);
	line-height:var(--height, 40px);
	background:blue;
	padding-left:var(--nav_docklpadd);
	background:transparent;
	font-size:.9em;
	font-family:"Lato";
	-webkit-font-smoothing:antialiased;
	font-weight:500;
	cursor:pointer;
	position:relative;
	color:rgba(0, 0, 0, .9);
}

.gl-dock-title-navigation-btn:not(.active):hover {
	background:rgba(0, 0, 0, .01);
}

.gl-dock-title-navigation-btn:before {
	content:'';
	position:absolute;
	left:0;
	top:0;
	height:100%;
	width:3px;
	background:#0E65D9;
	opacity:0;
}

.gl-dock-title-navigation-btn.active {
	background:#F6F9FE;
}

.gl-dock-title-navigation-btn.active:before {
	opacity:1;
}