:root {
	--feed_newtitw:40px;
	--feed_newaddw:45px;
	--feed_newmainavw:40px;
	--feed_newphotosheight:30px;
	--feed_feeditempaddlr:17.5px;
	--feed_feedcarouseltrans:.25s;
}

.rn-feed-item {
	position:relative;
	max-width:500px;
	padding-left:var(--feed_feeditempaddlr);
	padding-right:var(--feed_feeditempaddlr);
	width:calc(100% - var(--feed_feeditempaddlr) * 2);
	background:white;
	border:1px solid var(--defaultborder);
	display:flex;
	align-items:stretch;
	flex-direction:column;
	border-radius:3px;
	flex-shrink:0;
}

.rn-feed-item > * {
	flex-shrink:0;
}

.rn-feed-new {
	height:180px;
	box-shadow:0px 0px 15px -7.5px var(--defaultborder);
	margin-top:65px;
	margin-bottom:25px;
}

.rn-feed-new > * {
	position:relative;
}

.rn-feed-new-title {
	height:var(--feed_newtitw);
	display:flex;
	align-items:center;
	justify-content:center;
}

.rn-feed-new-title:after {
	content:'';
	position:absolute;
	bottom:0;
	left:calc(var(--feed_feeditempaddlr) * -1);
	width:calc(100% + var(--feed_feeditempaddlr) * 2);
	height:1px;
	background:var(--defaultborder);
}

.rn-feed-new-title > * {
	--margin:2.5px;

	margin-left:var(--margin);
	margin-right:var(--margin);
	position:relative;
	bottom:-1px;
	font-size:.9em;
}

.rn-feed-new-title-icon {
	color:#196ADA;
}

.rn-feed-new-title-mat {
	font-family:"Gothic A1";
	font-weight:500;
	color:rgba(0, 0, 0, .75);
}

.rn-feed-new-main {
	--padding:7.5px;

	padding-top:var(--padding);
	padding-bottom:var(--padding);
	height:calc(100% - var(--feed_newtitw) - var(--feed_newaddw) - var(--padding) * 2);
	display:flex;
	align-items:stretch;
	position:relative;
}

.rn-feed-new-main-image {
	width:var(--feed_newmainavw);
}

.rn-feed-new-main-image-overlay {
	height:var(--feed_newmainavw);
	width:var(--feed_newmainavw);
	border-radius:50%;
	position:relative;
	border:1px solid rgba(0, 0, 0, .1);
	cursor:pointer;
}

.rn-feed-new-main-image-overlay > img {
	height:100%;
	width:100%;
	object-fit:cover;
	object-position:center;
	border-radius:50%;
}

.rn-feed-new-main-field_control {
	--padding:15px;
	--pdt:calc(var(--feed_newmainavw) / 4 + 1.5px);
	width:calc(100% - var(--feed_newmainavw) - var(--padding) * 2);
	height:calc(100% - var(--pdt));
	position:relative;
	padding-left:var(--padding);
	padding-right:var(--padding);
	padding-top:var(--pdt);
}

.rn-feed-new-main-field {
	height:100%;
	width:100%;
	overflow:scroll;
	font-weight:500;
	font-size:1em;
	font-family:"Gothic A1";
	resize:none;
}

.rn-feed-new-main.ph-expand .rn-feed-new-main-field {
	height:calc(100% - var(--feed_newphotosheight));
}

.rn-feed-new-main-photos {
	height:var(--feed_newphotosheight);
	display:none;
	overflow:scroll;
	display:flex;
	align-items:center;
	visibility:hidden;
}

.rn-feed-new-main.ph-expand .rn-feed-new-main-photos {
	visibility:visible;
}

.rn-feed-new-main-photos-photo {
	cursor:pointer;
}

.rn-feed-new-main-photos-photo.error {
	background:red;
}

.rn-feed-new-main-photos-photo.error > img {
	display:none;
}

.rn-feed-new-main-photos-photo.error:before,
.rn-feed-new-main-photos-photo.error:after {
	display:none;
}

.rn-feed-new-main-photos-photo.error .rn-feed-new-main-photos-photo-delete {
	color:black!important;
}

.rn-feed-new-main-photos-photo-error,
.rn-feed-new-main-photos-photo-delete {
	display:none;
	color:white;
	position:absolute;
	transform:translate(-50%, -50%);
	top:50%;
	left:50%;
	margin-right:50%;
	font-size:.95em;
}

.rn-feed-new-main-photos-photo-delete {
	z-index:15;
}

.rn-feed-new-main-photos-photo.error > .rn-feed-new-main-photos-photo-error,
.rn-feed-new-main-photos-photo:hover > .rn-feed-new-main-photos-photo-delete {
	display:block;
}

.rn-feed-new-main-photos-photo.off {
	display:none;
}

.rn-feed-new-main-photos-photo:before,
.rn-feed-new-main-photos-photo:after {
	content:'';
	position:absolute;
	top:0;
	left:0;
}

.rn-feed-new-main-photos-photo:before {
	width:100%;
	height:100%;
	background:linear-gradient(180deg, rgba(0, 0, 0, .45), transparent);
}

.rn-feed-new-main-photos-photo:after {
	width:115%;
	height:15px;
	background:rgba(255, 255, 255, .3);
	transform:translateY(-10px) skewY(-30deg);
}

.rn-feed-new-main-photos-photo > img {
	height:100%;
	width:100%;
	object-fit:cover;
	object-position:center;
}

.rn-feed-new-main-photos-photo:first-child {
	margin-left:0;
}

.rn-feed-new-main-photos-photo:last-child {
	margin-right:0;
}

.rn-feed-new-addons-submit {
	--submitw:50px;
	--submith:60%;

	height:var(--submith);
	width:var(--submitw);
	border:1px solid rgba(0, 0, 0, .15);
	border-radius:3px;
	font-size:.9em;
	cursor:pointer;
	color:white;
	font-family:"Gothic A1";
	line-height:calc(var(--submith) + 20px);
	background:#4267B1;
	transition:.125s;
}

.rn-feed-new-addons-submit:active {
	transform:scale(.95);
}

.rn-feed-new-addons {
	height:var(--feed_newaddw);
	border-top:1px solid var(--defaultborder);
	display:flex;
	align-items:center;
	justify-content:space-between;
}

.rn-feed-new-addons-grid {
	width:calc(100% - var(--submitw));
	display:flex;
	align-items:center;
	height:100%;
}

.rn-feed-new-btn {
	--padding:5px;

	display:flex;
	align-items:center;
	height:60%;
	font-size:.95em;
	padding-left:var(--padding);
	padding-right:var(--padding);
	border:1px solid var(--defaultborder);
	border-radius:3px;
	cursor:pointer;
	color:rgba(0, 0, 0, .5);
}

.rn-feed-new-btn:active {
	background:rgba(0, 0, 0, .01);
}

.rn-feed-new-btn > * {
	--padding:2.5px;

	padding-left:var(--padding);
	padding-right:var(--padding);
}

.rn-feed-new-main-photos-photo.sphere > .rn-feed-new-main-photos-photo-delete,
.rn-feed-new-main-photos-photo.sphere > .rn-feed-new-main-photos-photo-error {
	font-size:.55em;
}