.rn-settings-account {
	--paddingtb:40px;
	--paddinglr:20px;

	padding-left:var(--paddinglr);
	padding-right:var(--paddinglr);
	padding-top:var(--paddingtb);
	padding-bottom:var(--paddingtb);
	margin-top:20px;
	border-radius:3px;
	overflow:hidden;
	display:flex;
	flex-direction:column;
	min-width:250px;
	text-align:center;
	max-width:100%;
	margin-bottom:45px;
	perspective:400px;
	position:relative;
	text-decoration:none;
}

.rn-settings-account:hover > * {
	transition:all .45s 2s;
	transform:rotateY(360deg);
}

.rn-settings-account > * {
	position:relative;
	z-index:4;
}

.rn-settings-account:before,
.rn-settings-account:after {
	content:'';
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	z-index:2;
	transition:.5s;
}

.rn-settings-account:before {
	background:linear-gradient(135deg, #6496FF, #4B5FFF);
}

.rn-settings-account:after {
	opacity:0;
	background:linear-gradient(90deg, #9C59FF, #FC4A83);
}

.rn-settings-account:hover:before,
.rn-settings-account.active:before {
	opacity:0;
}

.rn-settings-account:hover:after,
.rn-settings-account.active:after {
	opacity:1;
}

.rn-settings-account-title {
	font-size:.8em;
	color:rgba(255, 255, 255, .75);
	margin-bottom:5px;
}

.rn-settings-account-name {
	--margin:2.5px;

	font-size:2em;
	font-family:"Roboto";
	-webkit-font-smoothing:antialiased;
	font-weight:600;
	color:rgba(255, 255, 255, .9);
	margin-top:var(--margin);
	margin-bottom:var(--margin);
}

.rn-settings-account-login {
	color:white;
	font-size:1.1em;
	font-weight:400;
	font-family:"Quicksand";
}

.rn-settings-account {
	box-shadow:0px 0px 15px -7.5px rgba(0, 0, 0, .5);
}