:root {
	--account_width:650px;
	--account_thumbnavheight:50px;
	--account_thumbnavavsize:125px;
	--account_thumbnavpadd:10px;
	--account_dispitempadd:15px;
}

.rn-account {
	align-items:center;
}

.rn-account-thumb,
.rn-account-display {
	width:90%;
	max-width:var(--account_width);
}

.rn-account-thumb {
	height:400px;
	background:white;
	border:1px solid var(--defaultborder);
	/*margin-top:35px;*/
	position:relative;
	border-radius:5px;
	overflow:hidden;
}

.rn-account-thumb-cover {
	height:calc(100% - var(--account_thumbnavheight));
	position:relative;
}

.rn-account-thumb-cover:after {
	content:'';
	position:absolute;
	bottom:0;
	left:0;
	height:100%;
	width:100%;
	background:linear-gradient(rgba(0, 0, 0, .25), rgba(255, 255, 255, .1));
	z-index:5;
}

.rn-account-thumb-cover-img {
	height:100%;
	width:100%;
	position:absolute;
	top:0;
	left:0;
	object-fit:cover;
	object-position:center;
}

.rn-account-thumb-cover-addonplace {
	color:rgba(255, 255, 255, .85);
	font-weight:400;
	font-family:"Quicksand";
	position:absolute;
	right:15px;
	bottom:15px;
	display:flex;
	align-items:center;
	z-index:8;
}

.rn-account-thumb-cover-edit {
	--padding:7.5px;

	height:37.5px;
	padding-left:var(--padding);
	padding-right:var(--padding);
	border-radius:5px;
	background:rgba(0, 0, 0, .55);
	font-size:.9em;
	cursor:pointer;
	justify-content:center;
}

.rn-account-thumb-cover-edit > *,
.rn-account-thumb-cover-subfr > * {
	--margin:5px;

	margin-left:var(--margin);
	margin-right:var(--margin);
}

.rn-account-thumb-cover-subfr-btn {
	--padding:15px;
	--height:35px;

	padding-left:var(--padding);
	padding-right:var(--padding);
	border-radius:2.5px;
	background:#065FD4;
	/*font-family:"Quicksand";*/
	font-weight:300;
	text-transform:uppercase;
	color:white;
	box-shadow:0px 0px 15px -5px rgba(0, 0, 0, .5);
	height:var(--height);
	line-height:var(--height);
	opacity:.9;
	position:relative;
	cursor:pointer;
	font-size:.95em;
	transition:.15s;
	overflow:hidden;
}

.rn-account-thumb-cover-subfr-btn.blocked {
	background:#4f4240;
}

.rn-account-thumb-cover-subfr-btn.active {
	background:#ED462F;
}

.rn-account-thumb-cover-subfr-btn.active.blocked {
	background:#494848;
}

.rn-account-thumb-cover-subfr-btn:not(.blocked):not(.loading):hover {
	opacity:1;
}

.rn-account-thumb-cover-subfr-btn:not(.blocked):not(.loading):active {
	transition:.1s;
	transform:scale(.95);
}

.rn-account-thumb-cover-subfr-btn-loader {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	background:red;
	filter:saturate(10000%);
	opacity:.25;
}

.rn-account-thumb-nav {
	--paddinglr:10px;

	height:calc(var(--account_thumbnavheight) - var(--account_thumbnavpadd) * 2);
	padding-left:var(--paddinglr);
	padding-right:var(--paddinglr);
	padding-top:var(--account_thumbnavpadd);
	padding-bottom:var(--account_thumbnavpadd);
	width:calc(100% - var(--padding) * 2);
	display:flex;
	align-items:center;
/*	position:relative;*/
	z-index:9;
}

/*.rn-account-thumb-nav > * {
	height:100%;
	display:flex;
	align-items:center;
}*/

.rn-account-thumb-nav-img {
	height:100%;
	position:relative;
	display:flex;
	align-items:flex-end;
	z-index:7;
}

.rn-account-thumb-nav-img-mat {
	height:var(--account_thumbnavavsize);
	width:var(--account_thumbnavavsize);
	border:1px solid rgba(0, 0, 0, .1);
	border-radius:50%;
	overflow:hidden;
	position:relative;
}

.rn-account-thumb-nav-img-mat > img {
	border-radius:50%;
	height:100%;
	width:100%;
	object-fit:cover;
	object-position:center;
}

.rn-account-thumb-nav-img-replace {
	height:100%;
	width:100%;
	display:flex;
	align-items:center;
	justify-content:center;
	position:absolute;
	top:0;
	left:0;
	opacity:0;
	background:rgba(0, 0, 0, .25);
	transition:.25s;
}

.rn-account-thumb-nav-img-replace > label {
	color:rgba(255, 255, 255, .9);
	font-size:2em;
	cursor:pointer;
}

.rn-account-thumb-nav-img-mat:hover > .rn-account-thumb-nav-img-replace {
	opacity:1;
}

.rn-account-thumb-nav-name {
	position:absolute;
	top:calc(var(--account_thumbnavavsize) / 100 * 25 * -1 - 7.5px);
	right:0;
	transform:translateX(calc(100% + 7.5px));
	color:white;
	font-weight:600;
	font-family:"Quicksand";
	-webkit-font-smoothing:antialiased;
	font-size:1.2em;
	white-space:nowrap;
}

.rn-account-thumb-nav-btn-title,
.rn-account-thumb-nav-btn:before {
	transition:all .4s;
}

.rn-account-thumb-nav-btn {
	height:calc(100% + var(--account_thumbnavpadd) * 2);
	cursor:pointer;
	font-size:.9em;
	position:relative;
	margin-right:30px;
}

.rn-account-thumb-nav-btn.ei {
	height:100%;
	margin-right:20px;
}

.rn-account-thumb-nav-btn-title {
	color:rgba(0, 0, 0, .45);
}

.rn-account-thumb-nav-btn-counter {
	color:rgba(0, 0, 0, .25);
	font-weight:400;
	font-family:"Quicksand";
	font-size:.9em;
	margin-left:5px;
}

.rn-account-thumb-nav-btn:before {
	content:'';
	position:absolute;
	bottom:0;
	left:0;
	width:100%;
	height:2px;
	background:blue;
	border-radius:3px;
	opacity:0;
}

.rn-account-thumb-nav-btn:hover .rn-account-thumb-nav-btn-title,
.rn-account-thumb-nav-btn.active .rn-account-thumb-nav-btn-title {
	color:black;
}

.rn-account-thumb-nav-btn.active:before {
	opacity:1;
}

.rn-account-display {
	 display:flex;
	 flex-direction:column;
	 margin-top:15px;
	 position:relative;
}

.rn-account-display-timeline > *:not(.rn-feed-mat-item) {
	width:100%!important;
}

.rn-account-display-item {
	--ww:200%;

	position:absolute;
	top:0;
	left:0;
	/*display:none;*/
	flex-direction:column;
	align-items:center;
	width:100%;
	transform:translateX(calc(var(--ww) * -1));
	transition:all .45s, visibility 0s;
}

.rn-account-display-item:not(.iostyle) {
	--paddingud:12.5px;

	border:1px solid var(--defaultborder);
	background:white;
	border-radius:5px;
	padding-left:var(--account_dispitempadd);
	padding-right:var(--account_dispitempadd);
	width:calc(100% - var(--account_dispitempadd) * 2);
	padding-top:var(--paddingud);
	padding-bottom:var(--paddingud);
}

.rn-account-display-item > * {
	flex-shrink:0;
	display:none;
}

.rn-account-display-item.visible {
	/*display:flex;*/
	transform:translateX(0);
}

.rn-account-display-item.visible > * {
	display:flex;
}

.rn-account-display-item-title {
	width:100%;
	font-weight:500;
	font-family:"Roboto";
	-webkit-font-smoothing:antialiased;
	font-size:1.1em;
}

.rn-account-display-friends-nav {
	height:50px;
	width:100%;
	margin-top:15px;
	display:flex;
	align-items:center;
	justify-content:space-between;
	position:relative;
}

.rn-account-display-friends-nav:after {
	content:'';
	position:absolute;
	bottom:0;
	left:calc(var(--account_dispitempadd) * -1);
	width:calc(100% + var(--account_dispitempadd) * 2);
	height:1px;
	background:var(--defaultborder);
}

.rn-account-display-friends-nav > div {
	display:flex;
	align-items:center;
	height:100%;
}

.rn-account-display-friends-nav-mat {
	flex-shrink:0;
}

.rn-account-display-friends-nav-search {
	height:27.5px;
	width:155px;
	border:1px solid var(--defaultborder);
	display:flex;
	align-items:stretch;
	border-radius:3px;
	position:relative;
	color:rgba(0, 0, 0, .25);
}

.rn-account-display-friends-nav-search-field {
	width:100%;
	padding-left:7.5px;
	font-size:.725em;
}

.rn-account-display-friends-nav-search-icon {
	width:25px;
	display:flex;
	align-items:center;
	justify-content:center;
	font-size:.8em;
	flex-shrink:0;
}

.rn-account-display-friends-nav-grid {
	width:100%;
	margin-top:12.5px;
	display:flex;
	align-items:center;
	justify-content:space-between;
	flex-wrap:wrap;
}

.rn-account-display-friends-nav-grid-alertion {
	color:rgba(0, 0, 0, .5);
	font-family:"Arial";
	font-weight:400;
	text-align:center;
	width:100%;
}

.rn-account-display-friends-nav-grid-user {
	--padding:10px;
	--margin:5px;

	border-radius:5px;
	width:calc(50% - var(--padding) * 2 - 7.5px);
	border:1px solid var(--defaultborder);
	height:65px;
	display:flex;
	align-items:center;
	padding-left:var(--padding);
	padding-right:var(--padding);
	margin-top:var(--margin);
	margin-bottom:var(--margin);
}

.rn-account-display-friends-nav-grid-user-avatar {
	--size:45px;

	height:var(--size);
	width:var(--size);
	border-radius:50%;
	position:relative;
	border:1px solid var(--defaultborder);
	margin-right:12.5px;
}

.rn-account-display-friends-nav-grid-user-avatar > img {
	height:100%;
	width:100%;
	border-radius:50%;
	object-fit:cover;
	object-position:center;
}

.rn-account-display-friends-nav-grid-user-info {
	display:flex;
	flex-direction:column;
	text-decoration:none;
	color:currentColor;
}

.rn-account-display-friends-nav-grid-user-info > * {
	--margin:1px;

	margin-top:var(--margin);
	margin-bottom:var(--margin);
}

.rn-account-display-friends-nav-grid-user-info-name {
	font-family:"Lato";
	font-weight:500;
	font-size:.9em;
}

.rn-account-display-friends-nav-grid-user-info-info {
	font-weight:400;
	font-family:"Quicksand";
	font-size:.8em;
	color:rgba(0, 0, 0, .5);
}

.rn-account-display-friends-nav-grid-user-set {
	margin-left:auto;
	color:rgba(0, 0, 0, .3);
	cursor:pointer;
	font-size:1.05em;
	position:relative;
}

.rn-account-display-friends-nav-grid-user-set-list {
	position:absolute;
	bottom:0;
	left:0;
	max-height:180px;
	overflow:scroll;
	transform:translate(calc(-100% - 15px), 50%);
	border:1px solid var(--defaultborder);
	width:125px;
	background:white;
	box-shadow:0px 0px 15px -7.5px rgba(0, 0, 0, .25);
	border-radius:3px;
	display:none;
}

.rn-account-display-friends-nav-grid-user-set-list.visible {
	display:block;
}

.rn-account-display-friends-nav-grid-user-set-list-btn {
	height:45px;
	text-align:center;
	width:100%;
	cursor:pointer;
	transition:all .1s;
}

.rn-account-display-friends-nav-grid-user-set-list-btn:hover {
	background:rgba(0, 0, 0, .01);
}

.rn-account-display-gallery {
	display:flex;
	flex-direction:column;
	margin-top:10px;
}

.rn-account-display-gallery > * {
	width:100%;
}

.rn-account-display-gallery-new {
	display:flex;
	align-items:center;
	justify-content:flex-end;
}

.rn-account-display-gallery-new-mat {
	--size:40px;

	height:var(--size);
	width:var(--size);
	box-shadow:0px 0px 10px -2.5px rgba(0, 0, 0, .25);
	background:white;
	border:1px solid rgba(0, 0, 0, .05);
	border-radius:50%;
	color:#9c47fc;
	font-size:1em;
	cursor:pointer;
	display:flex;
	align-items:center;
	justify-content:center;
}

.rn-account-display-gallery-new-mat:active {
	background:rgba(255, 255, 255, .35);
}

.rn-account-display-gallery-grid {
	--padding:15px;

	display:grid!important;
	grid-template-columns: repeat(auto-fill, minmax(125px, 1fr));
	grid-auto-rows:1fr;
	grid-gap:15px;
	margin-top:15px;
	margin-bottom:15px;
	border-radius:5px;
	overflow:hidden;
	background:transparent;
	position:relative;
}

.rn-account-display-gallery-grid:before {
  content: '';
  width: 0;
  padding-bottom: 100%;
  grid-row: 1 / 1;
  grid-column: 1 / 1;
}

.rn-account-display-gallery-grid-photo:first-child {
	grid-row: 1 / 1;
 	grid-column: 1 / 1;
}

.rn-account-display-gallery-grid-photo {
	position:relative;
	cursor:pointer;
	box-shadow:0px 0px 5px 0px rgba(0, 0, 0, .1);
}

.rn-account-display-gallery-grid-photo > img {
	height:100%;
	width:100%;
	object-fit:cover;
	object-position:center;
}

.rn-account-display-gallery-grid-alertion {
	position:absolute;
	top:50%;
	transform:translateY(-50%);
	z-index:4;
	width:100%;
	text-align:center;
	color:rgba(0, 0, 0, .5);
	font-family:"Quicksand";
	font-weight:400;
	margin:0;
}