:root {
	--glcomment_posteravatar_size:35px;
}

.rn-feed-mat-item-comments-comment {
	--margin:10px;

	width:100%;
	display:flex;
	align-items:stretch;
	margin-top:var(--margin);
	margin-bottom:var(--margin);
}

.rn-feed-mat-item-comments-comment-avatar {
	width:var(--glcomment_posteravatar_size);
	height:var(--glcomment_posteravatar_size);
	border-radius:50%;
	border:1px solid rgba(0, 0, 0, .1);
	position:relative;
	margin-right:10px;
	flex-shrink:0;
}

.rn-feed-mat-item-comments-comment-avatar > img {
	height:100%;
	width:100%;
	border-radius:50%;
	object-fit:cover;
	object-position:center;
}

.rn-feed-mat-item-comments-comment-content-name {
	margin-top:calc(var(--glcomment_posteravatar_size) / 2);
	transform:translateY(-50%);
	position:relative;
	top:1px;
	font-size:1em;
	color:rebeccapurple;
	cursor:pointer;
	text-decoration:none;
}

.rn-feed-mat-item-comments-comment-content {
	display:flex;
	flex-direction:column;
	align-items:flex-start;
	width:100%;
}

.rn-feed-mat-item-comments-comment-content-mat {
	--padding:10px;

	width:auto;
	padding:var(--padding);
	border-radius:1rem;
	background:#EFF1F3;
	font-family:"Lato";
	font-size:.95em;
}

.rn-feed-mat-item-comments-comment-content-controls {
	display:flex;
	align-items:center;
	margin-left:calc(var(--padding) + 2.5px);
	font-size:.85em;
}

.rn-feed-mat-item-comments-comment-content-controls > * {
	margin-right:2.5px;
}

.rn-feed-mat-item-comments-comment-content-controls-like {
	cursor:pointer;
	color:blue;
}

.rn-feed-mat-item-comments-comment-content-controls-like:hover {
	text-decoration:underline;
}

.rn-feed-mat-item-comments-comment-content-controls-space {
	color:rgba(0, 0, 0, .25);
}

.rn-feed-mat-item-comments-comment-content-controls-time {
	color:rgba(0, 0, 0, .5);
	font-weight:500;
	font-family:"Quicksand";
}

.rn-feed-mat-item-comments-comment-content-images {
	margin-top:15px;
	margin-bottom:5px;
	width:100%;
	height:145px;
	position:relative;
	cursor:pointer;
}

.rn-feed-mat-item-comments-comment-content-images > img {
	height:100%;
	max-width:100%;
	object-fit:cover;
	object-position:center;
	border-radius:1.25rem;
}